<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CriticR. Reviews By The People, For The People.</title>
    <!--********
      Main index page. Loads all movies and games to in rollout
    ********-->
    <link rel="icon"
      type="image/png"
      href="https://i.imgur.com/GyQ3t9i.png">
    <script
       src="https://code.jquery.com/jquery-3.3.1.min.js"
       integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
       crossorigin="anonymous">
    </script>
 <link rel="stylesheet" type="text/css" href="/css/main.css" />
 <!-- Site by Joshua Payne 2018 -->
  </head>
  <body class="HolyGrail">
    <div class="header">
      <!-- title //not used on main index page\\-->
      <div class="header-title">
        <!-- <a href="/"><h5>CriticR</h5></a> -->
      </div>
      <!-- navigation -->
      <div class="header-nav">
        <ul>
          <%if(!user) { %>
            <!-- add your link to the log in page here -->
            <li>
              <a href="/sessions/new">Log In</a>
            </li>
            <!-- add your link to create a user here -->
            <li>
              <a href="/users/new">Register to Review</a>
            </li>
          <% } else { %>
            <li>
              <a href="/users/user/<%=user._id%>">View My Reviews</a>
            </li>
          <%if (user.super == true) { %>
            <li>
                <a href="/media/new">+ MOVIE/GAME</a>
            </li>
            <li>
                <a href="/users/super">+ MODERATOR</a>
            </li>
          <% } %>
        </ul>
        <!-- log out -->
        <form id="logOffForm" action="/sessions?_method=DELETE" method="POST">
          <input id="logOffBtn" type="submit" value="Log Off" />
        </form>
        <% } %>
      </div>
    </div>
    <h1 id="mainLogo">CriticR.</h1>
    <h3 id="mainSub">Reviews By The People, For The People.</h3>
    <div class="HolyGrail-body">
      <!-- main menu toggle to switch between movies and games. JQuery shows and hides each rollout according to what is clicked. movies (mfilter is displayed first by default) -->
      <div class="HolyGrail-content">
        <div id="frontNav">
          <a href="#" id="mFilter">Latest Movies</a>
          <a href="#" id="gFilter">Latest Games</a>
        </div>

        <div id="lineAside">
          <main id="mLineUp" class="lineUps on">
              <!-- populate the movies pulled in server.js with '/' route  -->
              <%for (let i = 0; i < movies.length; i++) { %>
                <div class="viewWind on">
                 <!-- left part of main movie rollout div. shows, poster, title, details -->
                  <div id="lefterDiv">
                    <div class="vIm">
                      <a href="/media/<%=movies[i]._id%>">
                      <img src=<%=movies[i].poster%>>
                      </a>
                    </div>
                    <div class="dIm">
                      <div class="dImHolder">
                        <p><b>Title:</b> <%=movies[i].title%></p>
                        <p><b>Studio/Prod:</b>  <%=movies[i].pub%></p>
                        <p><b>Genre:</b> <%=movies[i].genre%></p>
                        <a href="/media/<%=movies[i]._id%>"><p>Check Reviews</p></a>
                      </div>

                    </div>

                  </div>
                  <!--Scores detailed on the right side of the page. -->
                    <div class="sOutBox">
                      <div class="scoreBox">
                      <%if(movies[i].reviews.length ==0) { %>
                        <div class="scoreNumDiv">
                          <a href="/reviews/new/<%=movies[i]._id%>">
                            <h1 id="hScore">N/A</h1>
                          </a>
                        </div>
                        <div class="revCountIndicate">
                          Not Yet Reviewed
                        </div>
                      <% } else {
                        let sum = 0;
                        for(let x = 0; x < movies[i].reviews.length; x++) {
                          sum += movies[i].reviews[x].score[4];
                        }
                        let score = sum / movies[i].reviews.length; %>
                      <a href="/media/<%=movies[i]._id%>"><h1 id="hScore"><%=score.toFixed(2)%></h1></a>
                      <div class="revCountIndicate">
                        Out of <%=movies[i].reviews.length%> review(s)
                      </div>
                      <% } %>
                      <a href="/reviews/new/<%=movies[i]._id%>">Review This Movie</a>
                    </div>
                  </div>

                </div>
              <% } %>

          </main>
          <main id="gLineUp" class="lineUps off">
            <!-- populate the games pulled in server.js with '/' route  -->
            <%for (let i = 0; i < games.length; i++) { %>
              <div class="viewWind on">
                <!-- left side of game rollout div. game poster and details -->
                <div id="lefterDiv">
                  <div class="vIm">
                    <a href="/media/<%=games[i]._id%>">
                    <img src=<%=games[i].poster%>>
                    </a>
                  </div>
                  <div class="dIm">
                    <div class="dImHolder">
                      <p><b>Title:</b> <%=games[i].title%></p>
                      <p><b>Developer:</b> <%=games[i].pub%></p>
                      <p><b>Genre:</b> <%=games[i].genre%></p>
                      <a href="/media/<%=games[i]._id%>"><p>Check out Reviews</p></a>
                    </div>
                  </div>

                </div>
                <!-- right side of game rollout div. score details -->
                <div class="sOutBox">
                  <div class="scoreBox">
                    <%if(games[i].reviews.length ==0) { %>
                      <div class="scoreNumDiv">
                        <a href="/reviews/new/<%=games[i]._id%>">
                          <h1 id="hScore">N/A</h1>
                        </a>
                      </div>
                      <div class="revCountIndicate">
                        Not Yet Reviewed
                      </div>
                  <% } else {
                    let sum = 0;
                    for(let x = 0; x < games[i].reviews.length; x++) {
                      sum += games[i].reviews[x].score[4];
                    }
                    let score = sum / games[i].reviews.length; %>
                  <a href="/media/<%=games[i]._id%>"><h1 id="hScore"><%=score.toFixed(2)%></h1></a>
                  <div class="revCountIndicate">
                    Out of <%=games[i].reviews.length%> review(s)
                  </div>
                  <% } %>
                  <a href="/reviews/new/<%=games[i]._id%>">Review This Game</a>
                </div>
              </div>

              </div>
            <% } %>

          </main>
          <!-- search/about links. dummy links for now. -->
          <aside class="HolyGrail-ads">
            <div id="rMenu">
                  <a href="#">Search</a>
                  <a href="#">About</a></li>
                  <a href="#">Links</a>
            </div>
            <div id="ad">
              <img src="https://i.imgur.com/i0WIwxg.jpg">
            </div>
          </aside>

        </div>
        </div>
    </div>
    <footer>…</footer>
  </body>
  <!-- JQuery for the movie/game filter div rendered above. switches css display properties between movies and games according to which setcion the user wants to see. Moveis on by default -->
  <script>
    $('#mFilter').click(function () {
      $('#gLineUp').removeClass('on').addClass('off');
      $('#mLineUp').removeClass('off').addClass('on');
    });
    $('#gFilter').click(function () {
      $('#gLineUp').removeClass('off').addClass('on');
      $('#mLineUp').removeClass('on').addClass('off');
    });
</script>
</html>
