<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CriticR: Media Edit</title>
    <link rel="icon"
      type="image/png"
      href="https://i.imgur.com/GyQ3t9i.png">
    <script
     src="https://code.jquery.com/jquery-3.3.1.min.js"
     integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
     crossorigin="anonymous">
    </script>
 <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body class="HolyGrail">
    <div class="header">
      <!-- title //not used on main index page\\-->
      <div class="header-title">
        <a href="/"><h5>CriticR.</h5></a>
      </div>
      <!-- navigation -->
      <div class="header-nav">
        <ul>
          <%if(!user) { %>
          <!-- add your link to the log in page here -->
          <li>
            <a href="/sessions/new">Log In</a>
          </li>
          <!-- add your link to create a user here -->
          <li>
            <a href="/users/new">Register to Review</a>
          </li>
          <% } else { %>
          <li>
            <a href="/users/user/<%=user._id%>">View My Reviews</a>
          </li>
          <%if (user.super == true) { %>
            <li>
                <a href="/media/new">+ MOVIE/GAME</a>
            </li>
            <li>
                <a href="/users/super">+ NEW MODERATOR</a>
            </li>
          <% } %>
          <!-- log out -->
          <li>
            <form id="logOffForm" action="/sessions?_method=DELETE" method="POST">
              <input type="submit" value="Log Off" />
            </form>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    <div class="HolyGrail-body">

      <div class="HolyGrail-content">

        <h1><%=user.username%>: <%=media.title%> Edit</h1>

        <div id="lineAside">

          <form class="mediaEditForm newReviewForm" action="/media/<%=media._id%>?_method=PUT" method="POST">
            <fieldset class="">
              <legend>&nbsp;&nbsp;&nbsp; EDIT MEDIA</legend>
                <div id="overWrap">
                  <div id="inWrap">
                    <label for="title">Title: </label>
                    <input id="title" type="text" name="title" value="<%=media.title%>"/>
                  </div>
                  <div id="inWrap">
                    <label for="pub">Studio/Production: </label>
                    <input id="pub" type="text" name="pub" value="<%=media.pub%>"/>
                  </div>
                  <div id="selWrap">
                    <label for="genre">Genre: </label>
                    <% if (media.type == 'movie') { %>
                      <select id="genre" name="genre">
                        <option value="Action">Action</option>
                        <option value="Adventure">Adventure</option>
                        <option value="Animation">Animation</option>
                        <option value="Childrens">Children</option>
                        <option value="Comedy">Comedy</option>
                        <option value="Documentary">Documentary</option>
                        <option value="Drama">Drama</option>
                        <option value="Horror">Horror</option>
                        <option value="Romance">Romance</option>
                        <option value="Romance Comedy">Romance Comedy</option>
                        <option value="Thriller">Thriller</option>
                        <option value="Western">Western</option>
                      </select>
                    <% } else { %>
                      <select id="genre" name="genre">
                        <option value="Action">Action</option>
                        <option value="Action RPG">Action RPG</option>
                        <option value="Adventure">Adventure</option>
                        <option value="Beat 'Em Up">Beat 'Em Up</option>
                        <option value="Dance/Rhythm">Dance/Rhythm</option>
                        <option value="Fighting">Fighting</option>
                        <option value="FPS">FPS</option>
                        <option value="Horror">Horror</option>
                        <option value="Indie">Indie</option>
                        <option value="Platformer">Platformer</option>
                        <option value="Puzzle">Puzzle</option>
                        <option value="Racing">RPG</option>
                        <option value="RPG">RPG</option>
                        <option value="Shooter">Shooter</option>
                        <option value="Simulation">Simulation</option>
                        <option value="Sports">Sports</option>
                        <option value="Strategy/RTS">Strategy/RTS</option>
                        <option value="Survival Horror">Survival Horror</option>
                      </select>
                    <% } %>
                  </div>
                  <div id="inWrap">
                    <label for="pimg">Title Cover: </label>
                    <input id="pimg" type="text" name="poster" value="<%=media.poster%>"/>
                  </div>
                  <div id="inWrap">
                    <label for="img">Images: </label>
                    <% let imageString = media.images.join(', '); %>
                    <textarea id="img" type="text" name="img" value=""><%=imageString%></textarea>
                  </div>
                  <input type="submit" value="Submit New Media" />
                </div>

              </fieldset>
          </form>
    </div>
      <aside class="HolyGrail-ads">…</aside>

    </div>
  </div>
    <footer>…</footer>
  </body>
  <script>
    $('#gFilter').click(function () {
      $('.movieRev').removeClass('on').addClass('off');
      $('.gameRev').removeClass('off').addClass('on');
    });
    $('#mFilter').click(function () {
      $('.gameRev').removeClass('on').addClass('off');
      $('.movieRev').removeClass('off').addClass('on');
    });
</script>
</html>
