<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Make New Review</title>
    <script
     src="https://code.jquery.com/jquery-3.3.1.min.js"
     integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
     crossorigin="anonymous">
    </script>
 <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body class="HolyGrail">
    <div class="header">
      <!-- title //not used on main index page\\-->
      <div class="header-title">
        <a href="/"><h5>CriticR</h5></a>
      </div>
      <!-- navigation -->
      <div class="header-nav">
        <ul>
          <%if(!user) { %>
          <!-- add your link to the log in page here -->
          <li>
            <a href="/sessions/new">Log In</a>
          </li>
          <!-- add your link to create a user here -->
          <li>
            <a href="/users/new">Register to Review</a>
          </li>
          <% } else { %>
          <li>
            <a href="">View My Reviews</a>
          </li>
          <%if (user.super == true) { %>
            <li>
                <a href="/media/new">Add Movie/Game</a>
            </li>
          <% } %>
          <!-- log out -->
          <li>
            <form action="/sessions?_method=DELETE" method="POST">
              <input type="submit" value="Log Off" />
            </form>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    <div class="HolyGrail-body">

      <div class="HolyGrail-content">

        <h1><%=review.username%>: Review Edit</h1>
        <div id="frontNav">
          <a href="javascript:history.go(-1)" onclick="history.go(-1)">Back</a>
          <a href="/users/user/<%=review.author%>" id="mFilter">To My Reviews </a>
        </div>

        <% let postArray = review.poster.split('');
        for (let i = 0; i < postArray.length; i++) {
          if (postArray[i] == '/') {
            postArray[i] = '~';
          }
        }

        let posterPasser = postArray.join(''); %>

        <div id="lineAside">
          <%if (review.type == 'movie') { %>
            <form class="movieRev" action="/reviews/movie/<%=review.title%>/<%=posterPasser%>/<%=review.username%>/<%=review.author%>/<%=review.media%>/<%=review._id%>/edit?_method=PUT" method="POST">
              <fieldset class="">
                <legend>&nbsp;&nbsp;&nbsp; MOVIE REVIEW: <%=review.title%></legend>
                  <label for="rtitle">Review Title: </label>
                  <input id="rtitle" type="text" name="rtitle" value="<%=review.rtitle%>"/>
                  <label for="article">Review: </label>
                  <textarea name="article" id="article" value=""><%let pArr = review.article.split('<br><br><br><br>');
                  for (let i = 0; i < pArr.length; i++) { %>
                      <%=pArr[i]%>
                  <%}%></textarea>
                  <!-- //score numbers\\ -->
                  <div id="scoreBox">
                    <label for="vis">SFX/Art/Cinematography:</label>
                    <select id="vis" name="vis" value"<%=review.score[0]%>">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                    <label for="dir">Direction/Writing/Performances:</label>
                    <select id="dir" name="dir" value"<%=review.score[1]%>">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                    <label for="snd">Sound:</label>
                    <select id="snd" name="snd" value"<%=review.score[2]%>">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                    <label for="til">Tilt (Curve Score +/-):</label>
                    <select id="til" name="til" value"<%=review.score[3]%>">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                  </div>
                  <input type="submit" value="Submit Edit" />
                </fieldset>
            </form>
          <% } else { %>

            <form class="gameRev" action="/reviews/game/<%=review.title%>/<%=posterPasser%>/<%=review.username%>/<%=review.author%>/<%=review.media%>/<%=review._id%>/edit?_method=PUT" method="POST">
              <fieldset class="">
                <legend>&nbsp;&nbsp;&nbsp; GAME REVIEW: <%=review.title%></legend>
                <label for="rtitle">Review Title: </label>
                <input id="rtitle" type="text" name="rtitle" value="<%=review.rtitle%>"/>
                <label for="article">Review: </label>
                <textarea name="article" id="article" value=""><%let pArr = review.article.split('<br><br><br><br>');
                for (let i = 0; i < pArr.length; i++) { %>
                    <%=pArr[i]%>
                <%}%></textarea>
                <div id="scoreBox">
                  <!-- //score numbers\\ -->
                  <label for="vis">GFX/Visual/Art:</label>
                  <select id="vis" name="vis" value"<%=review.score[0]%>">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                  <label for="dir">Gameplay/Direction/Writing:</label>
                  <select id="dir" name="dir" value"<%=review.score[1]%>">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                  <label for="snd">Sound:</label>
                  <select id="snd" name="snd" value"<%=review.score[2]%>">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                  <label for="til">Tilt (Curve Score +/-):</label>
                  <select id="til" name="til" value"<%=review.score[3]%>">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </div>
                <input type="submit" value="Submit Edit" />
            </fieldset>
            </form>
          <% } %>
    </div>
      <aside class="HolyGrail-ads">…</aside>

    </div>
  </div>
    <footer>…</footer>
  </body>
  <script>
</script>
</html>
