<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Make New Review</title>
    <link rel="icon"
      type="image/png"
      href="https://i.imgur.com/GyQ3t9i.png">
    <script
     src="https://code.jquery.com/jquery-3.3.1.min.js"
     integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
     crossorigin="anonymous">
    </script>
 <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body class="HolyGrail">
    <div class="header">
      <!-- title //not used on main index page\\-->
      <div class="header-title">
        <a href="/"><h5>CriticR.</h5></a>
      </div>
      <!-- navigation -->
      <div class="header-nav">
        <ul>
          <%if(!user) { %>
          <!-- add your link to the log in page here -->
          <li>
            <a href="/sessions/new">Log In</a>
          </li>
          <!-- add your link to create a user here -->
          <li>
            <a href="/users/new">Register to Review</a>
          </li>
          <% } else { %>
          <li>
            <a href="">View My Reviews</a>
          </li>
          <%if (user.super == true) { %>
            <li>
                <a href="/media/new">+ MOVIE/GAME</a>
            </li>
            <li>
                <a href="/users/super">+ NEW MODERATOR</a>
            </li>
          <% } %>
          <!-- log out -->
          <li>
            <form id="logOffForm"action="/sessions?_method=DELETE" method="POST">
              <input id="logOffBtn"type="submit" value="Log Off" />
            </form>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    <div class="HolyGrail-body">

      <div class="HolyGrail-content">

        <h1><%=user.username%>: New Review</h1>
        <div id="frontNav">
          <a href="/media/<%=media._id%>" id="mFilter">Back to <%=media.title%> Reviews Page</a>
          <a href="/" id="gFilter">Back to Main Page</a>
        </div>

        <% let postArray = media.poster.split('');
        for (let i = 0; i < postArray.length; i++) {
          if (postArray[i] == '/') {
            postArray[i] = '~';
          }
        }

        let posterPasser = postArray.join(''); %>

        <div id="lineAside">
          <%if (media.type == 'movie') { %>
            <form class="movieRev newReviewForm" action="/reviews/movie/<%=media.title%>/<%=posterPasser%>/<%=user.username%>/<%=user._id%>/<%=media._id%>" method="POST">
              <fieldset class="">
                <legend>&nbsp;&nbsp;&nbsp; MOVIE REVIEW: <%=media.title%></legend>
                <div id="overWrap">
                  <div id="inWrap">
                  <label for="rtitle">Review Title: </label>
                  <input id="rtitle" type="text" name="rtitle" />
                  </div>
                  <div id="inWrap">
                  <label for="article">Review: </label>
                  <textarea name="article" value=""></textarea>
                  </div>
                  <!-- //score numbers\\ -->
                  <div id="scoreBox">
                    <div id="selWrap">
                      <label for="vis">SFX/Art/Cinematography:</label>
                      <select id="vis" name="vis">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                    </div>
                    <div id="selWrap">
                      <label for="dir">Direction/Writing/Performances:</label>
                      <select id="dir" name="dir">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                    </div>
                    <div id="selWrap">
                      <label for="snd">Sound:</label>
                      <select id="snd" name="snd">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                    </div>
                    <div id="selWrap">
                      <label for="til">Tilt (Curve Score +/-):</label>
                      <select id="til" name="til">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                    </div>

                  </div>
                  <input type="submit" value="Submit Review" />
                </div>
                </fieldset>
            </form>
          <% } else { %>

            <form class="newReviewForm gameRev" action="/reviews/game/<%=media.title%>/<%=posterPasser%>/<%=user.username%>/<%=user._id%>/<%=media._id%>" method="POST">
              <fieldset class="">
                <legend>&nbsp;&nbsp;&nbsp; GAME REVIEW: <%=media.title%></legend>
                <div id="overWrap">
                <div id="inWrap">
                  <label for="rtitle">Review Title: </label>
                  <input id="rtitle" type="text" name="rtitle" />
                </div>
                <div id="inWrap">
                  <label for="article">Review: </label>
                  <textarea name="article" id="article"
                 value=""></textarea>
                </div>
                <!-- //score numbers\\ -->
                <div id="scoreBox">
                  <div id="selWrap">
                    <label for="vis">GFX/Visual/Art:</label>
                    <select id="vis" name="vis">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                  </div>
                  <div id="selWrap">
                    <label for="dir">Gameplay/Direction/Writing:</label>
                    <select id="dir" name="dir">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                  </div>
                  <div id="selWrap">
                    <label for="snd">Sound:</label>
                    <select id="snd" name="snd">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                  </div>
                  <div id="selWrap">
                    <label for="til">Tilt (Curve Score +/-):</label>
                    <select id="til" name="til">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                  </div>
                </div>
                <input type="submit" value="Submit Review" />
              </div>
            </fieldset>
            </form>
          <% } %>
    </div>
      <aside class="HolyGrail-ads">…</aside>

    </div>
  </div>
    <footer>…</footer>
  </body>
  <script>
</script>
</html>
