<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Make New Review</title>
    <script
     src="https://code.jquery.com/jquery-3.3.1.min.js"
     integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
     crossorigin="anonymous">
    </script>
 <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body class="HolyGrail">
    <div class="header">
      <!-- title //not used on main index page\\-->
      <div class="header-title">
        <a href="/"><h5>CriticR</h5></a>
      </div>
      <!-- navigation -->
      <div class="header-nav">
        <ul>
          <%if(!user) { %>
          <!-- add your link to the log in page here -->
          <li>
            <a href="/sessions/new">Log In</a>
          </li>
          <!-- add your link to create a user here -->
          <li>
            <a href="/users/new">Register to Review</a>
          </li>
          <% } else { %>
          <li>
              <a href="/reviews/new">Add Review</a>
          </li>
          <!-- log out -->
          <li>
            <form action="/sessions?_method=DELETE" method="POST">
              <input type="submit" value="Log Off" />
            </form>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    <div class="HolyGrail-body">

      <div class="HolyGrail-content">

        <h1><%=user.username%>: New Review</h1>
        <div id="frontNav">
          <a href="#" id="mFilter">Movies</a>
          <a href="#" id="gFilter">Games</a>
        </div>

        <div id="lineAside">

          <form class="movieRev on" action="/reviews/movie/<%=user._id%>/<%=user.username%>" method="POST">
            <fieldset class="">
              <legend>&nbsp;&nbsp;&nbsp; MOVIE REVIEW</legend>
                <label for="title">Title: </label>
                <input id="title" type="text" name="title" />
                <label for="rtitle">Review Title: </label>
                <input id="rtitle" type="text" name="rtitle" />
                <label for="pub">Studio/Production: </label>
                <input id="pub" type="text" name="pub" />
                <label for="genre">Genre: </label>
                <select id="genre" name="genre">
                  <option value="Action">Action</option>
                  <option value="Adventure">Adventure</option>
                  <option value="Animation">Animation</option>
                  <option value="Childrens">Children</option>
                  <option value="Comedy">Comedy</option>
                  <option value="Documentary">Documentary</option>
                  <option value="Drama">Drama</option>
                  <option value="Horror">Horror</option>
                  <option value="Romance">Romance</option>
                  <option value="Romance Comedy">Romance Comedy</option>
                  <option value="Thriller">Thriller</option>
                  <option value="Western">Western</option>
                </select>
                <label for="img">Images: </label>
                <input id="img" type="text" name="img" placeholder="Please add each image link with a \',\' between them." />
                <label for="article">Review: </label>
                <textarea name="article" id="article" value=""></textarea>
                <!-- //score numbers\\ -->
                <div id="scoreBox">
                  <label for="vis">SFX/Art/Cinematography:</label>
                  <select id="vis" name="vis">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                  <label for="dir">Direction/Writing/Performances:</label>
                  <select id="dir" name="dir">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                  <label for="snd">Sound:</label>
                  <select id="snd" name="snd">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                  <label for="til">Tilt (Curve Score +/-):</label>
                  <select id="til" name="til">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </div>
                <input type="submit" value="Submit Review" />
              </fieldset>
          </form>
      <form class="gameRev off" action="/reviews/game/<%=user._id%>/<%=user.username%>" method="POST">
        <fieldset class="">
          <legend>&nbsp;&nbsp;&nbsp; GAME REVIEW</legend>
          <label for="title">Title: </label>
          <input id="title" type="text" name="title" />
          <label for="rtitle">Review Title: </label>
          <input id="rtitle" type="text" name="rtitle" />
          <label for="pub">Developer: </label>
          <input id="pub" type="text" name="pub" />
          <label id="genre" for="genre">Genre: </label>
          <select id="genre" name="genre">
            <option value="Action">Action</option>
            <option value="Action RPG">Action RPG</option>
            <option value="Adventure">Adventure</option>
            <option value="Beat 'Em Up">Beat 'Em Up</option>
            <option value="Dance/Rhythm">Dance/Rhythm</option>
            <option value="Fighting">Fighting</option>
            <option value="FPS">FPS</option>
            <option value="Horror">Horror</option>
            <option value="Indie">Indie</option>
            <option value="Platformer">Platformer</option>
            <option value="Puzzle">Puzzle</option>
            <option value="Racing">RPG</option>
            <option value="RPG">RPG</option>
            <option value="Shooter">Shooter</option>
            <option value="Simulation">Simulation</option>
            <option value="Sports">Sports</option>
            <option value="Strategy/RTS">Strategy/RTS</option>
            <option value="Survival Horror">Survival Horror</option>
          </select>
          <label for="img">Images: </label>
          <input id="img" type="text" name="img" placeholder="Please add each image link with a \',\' between them." />
          <label for="article">Review: </label>
          <textarea name="article" id="article" value=""></textarea>
          <div id="scoreBox">
            <!-- //score numbers\\ -->
            <label for="vis">GFX/Visual/Art:</label>
            <select id="vis" name="vis">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
            <label for="dir">Gameplay/Direction/Writing:</label>
            <select id="dir" name="dir">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
            <label for="snd">Sound:</label>
            <select id="snd" name="snd">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
            <label for="til">Tilt (Curve Score +/-):</label>
            <select id="til" name="til">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
          <input type="submit" value="Submit Review" />
      </fieldset>
      </form>
    </div>
      <aside class="HolyGrail-ads">…</aside>

    </div>
  </div>
    <footer>…</footer>
  </body>
  <script>
    $('#gFilter').click(function () {
      $('.movieRev').removeClass('on').addClass('off');
      $('.gameRev').removeClass('off').addClass('on');
    });
    $('#mFilter').click(function () {
      $('.gameRev').removeClass('on').addClass('off');
      $('.movieRev').removeClass('off').addClass('on');
    });
</script>
</html>
