<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CriticR</title>
    <script
       src="https://code.jquery.com/jquery-3.3.1.min.js"
       integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
       crossorigin="anonymous">
    </script>
 <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body class="HolyGrail">
    <div class="header">
      <!-- title //not used on main index page\\-->
      <div class="header-title">
        <a href="/"><h5>CriticR</h5></a>
      </div>
      <!-- navigation -->
      <div class="header-nav">
        <ul>
          <%if(!user) { %>
          <!-- add your link to the log in page here -->
          <li>
            <a href="/sessions/new">Log In</a>
          </li>
          <!-- add your link to create a user here -->
          <li>
            <a href="/users/new">Register to Review</a>
          </li>
          <% } else { %>
          <%if (user.super == true) { %>
            <li>
                <a href="/media/new">Add Movie/Game</a>
            </li>
          <% } %>
          <li>
            <a href="/users/user/<%=user._id%>">View My Reviews</a>
          </li>
          <!-- log out -->
          <li>
            <form action="/sessions?_method=DELETE" method="POST">
              <input type="submit" value="Log Off" />
            </form>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    <h3><%=review.type.charAt(0).toUpperCase() + review.type.slice(1)%> Review</h3>
    <h1><%=review.title%></h1>
    <!-- movie/game specs -->
    <%if (review.type == 'movie') { %>
      <div id="specLine">
        <span><b>Studio/Production:</b> <%=media.pub%></span>
        <span><b>Genre:</b> <%=media.genre%></span>
        <span><b></b>Cumulative Score:  <%=media.score.toFixed(2)%></span>
      </div>
    <% } else { %>
      <div id="specLine">
        <span><b></b>Developer: <%=media.pub%></span>
        <span><b></b>Genre: <%=media.genre%></span>
        <span><b></b>Cumulative Score:  <%=media.score.toFixed(2)%></span>
      </div>
    <% } %>
    <div class="HolyGrail-body">

      <div class="HolyGrail-content">
        <div id="frontNav">
          <a href="/users/user/<%=review.author%>" id="mFilter">More From This Critic</a>
          <a href="/media/<%=media._id%>" id="gFilter">More <%=media.title%> Reviews</a>
        </div>

        <div id="revCascade">
          <div id="reviewHead">
              <div id="reviewHeadPoster">
                <img src="<%=media.poster%>"/>
              </div>
              <div id="reviewHeadDetails">
                <div>
                  <!-- review title/author -->
                  <h2><%=review.rtitle%></h2>
                  <h4>By: <%=review.username%></h4>
                  <h4><% let date = new Date(review.createdAt) %>
                  <%=(date.getMonth() + 1) + '/' + date.getDate() + '/' +  date.getFullYear()%></h4>
                  <% if (user) {
                  if (user.username == review.username || user.super == true) { %>
                    <a href="/reviews/review/<%=review.id%>/edit"><h4>Edit Review</h4></a>
                  <% } %>
                  <%if(user.super == true) { %>
                    <!-- need to change to a form whe you get to this -->
                    <button>Delete</button>
                  <% } } %>
                </div>

              </div>
          </div>


          <!-- review text -->
          <article class="rArticle">
            <%let pArr = review.article.split('<br><br><br><br>');
            for (let i = 0; i < pArr.length; i++) { %>
              <p>
                <%=pArr[i]%>
              </p>
            <%}%>
          </article>

          <div class="rWind on">

            <div class="sDetail">
              <%if(review.type == 'movie') { %>
                <div class="chartHolder">
                  <div class="chdets">
                    SFX/Cinematography: <br />
                    Direction/Writing/Performances: <br />
                    Sound: <br />
                    Tilt: <br />
                  </div>
                  <div class="chart">
                    <div class="chartDiv" style="width: <%=review.score[0]*20%>px;"><%=review.score[0]%></div>
                    <div class="chartDiv"style="width: <%=(review.score[1]*20)%>px;"><%=review.score[1]%></div>
                    <div class="chartDiv"style="width: <%=review.score[2]*20%>px;"><%=review.score[2]%></div>
                    <div class="chartDiv"style="width: <%=review.score[3]*20%>px;"><%=review.score[3]%></div>
                  </div>
                </div>
              <% } else { %>
                <div class="chartHolder">
                  <div class="chdets">
                    SFX/Cinematography: <br />
                    Direction/Writing/Performances: <br />
                    Sound: <br />
                    Tilt: <br />
                  </div>
                  <div class="chart">
                    <div class="chartDiv" style="width: <%=review.score[0]*20%>px;"><%=review.score[0]%></div>
                    <div class="chartDiv"style="width: <%=(review.score[1]*20)%>px;"><%=review.score[1]%></div>
                    <div class="chartDiv"style="width: <%=review.score[2]*20%>px;"><%=review.score[2]%></div>
                    <div class="chartDiv"style="width: <%=review.score[3]*20%>px;"><%=review.score[3]%></div>
                  </div>
                </div>
              <% } %>
            </div>
            <div class="avBox">
              <h1 id="hScore"><%=review.score[4].toFixed(2)%></h1>
            </div>

          </div>

        </div>
        </div>
    </div>
    <footer>…</footer>
  </body>

</html>
